<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head' , {title}) %>
  
</head>

<body> 
    <header>
    <%- include ( '../partials/header') %>
    <header>
        <section class="seccion-uno">

        </section>
       
    <footer>
    <%- include ( '../partials/footer') %>
        </footer>
</body>
</html>

