

<div class="partials-on-article-categorias">

    <div class="partials-buscar-categorias-iconos">

        <div>
            <a href=""><i class="fa-solid fa-laptop"></i></a> 
            <p>Laptops</p>
        </div>
        <div>
            <a href=""><i class="fa-solid fa-mobile-button"></i></a>
            <p>Mobile</p>
        </div>
        <div>
            <a href=""><i class="fa-solid fa-shirt"></i></a>
            <p>Clothes</p>
        </div>
        <div>
            <a href=""><i class="fa-solid fa-glasses"></i></a>
            <p>Glasses</p>
        </div>
        <div>
            <a href=""><i class="fa-solid fa-hat-cowboy"></i></a>
            <p>Hats</p>
        </div>
        <div>
            <a href=""><i class="fa-solid fa-socks"></i></a>
            <p>Socks</p>
        </div>

    </div>
</div>