
<footer>
    <section class="seccion-footer">

        
        <section class="seccion-footer-listados">
            
            <article class="footer-redes">
                <div class="footer-iconos-redes">
                    <a href="" class="footer-iconos-redes-single"><i class="fa-brands fa-facebook"></i></a>
                    <a href="" class="footer-iconos-redes-single"><i class="fa-brands fa-instagram"></i></a>
                    <a href="" class="footer-iconos-redes-single"><i class="fa-regular fa-envelope"></i></a>
                    <a href="" class="footer-iconos-redes-single"><i class="fa-brands fa-twitter"></i></a>
                </div>
            </article>
            <article class="footer-listados">
                <div class="footer-l-izquierdo">
                    <ul class="listado-izquierdo">
                        <a class="footer-cambios-devoluciones" href="/cambiosydevoluciones">Cambios y devoluciones</a>
                        <a class="footer-politicas" href="/politicasdeprivacidad">Politica de privacidad</a>
                        <a class="footer-arrepentimiento" href="/arrepentimientodeactividades">Arrepentimiento de
                            actividades</a>
                    <a class="footer-preguntas" href="/preguntasfrecuentes">Preguntas frecuentes</a>
                    <a class="footer-preguntas-blog" href="/preguntasblog">Preguntas, blog de usuarios</a>
                </ul>
            </div>
            <div class="footer-l-derecho">
                <ul class="listado-derecho">
                    <a class="footer-contacto" href="/contacto">Contacto</a>
                    <a class="footer-contratacion" href="/contratacion">Contratacion</a>
                    <a class="footer-terminoscondiciones"  href="/terminosycondiciones">Terminos y condiciones</a>
                    <a class="footer-transporte" href="/transporte">Transporte</a>

                    <%  if(locals.isLogged || locals.isMarcaLogged){ %>

                        <a class="footer-useracountmarca"  href="/useracountmarca">Acceder a usuario de marcas</a>
                        <% } else {%>
                            <a class="footer-useracountmarca"  href="/useracountmarca">Acceder a usuario de marcas</a>
                            <a class="footer-signupmarca"  href="/signupmarca">Crear usuario de marcas</a>
                                    <% } %>
                </ul>
            </div>
        </article>
    </section>
    <article class="bars-button">
        <a href="/piedepagina"><i class="fa-solid fa-bars"></i></a>
    </article>
    <article class="footer-end">
        <a><img class="logo-footer" src="/images/El-Bartero.png" alt="Imagen"></a>
        <p class="copyright">Copyright ©</p>
    </article>
    
</section>

</footer>