
<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
    <title> <%= title %></title>
</head>
<body>
    <header>
        <%- include ( '../partials/header') %>
    </header>
    <seccion class="seccion-uno">
        <h2> Instructivo</h2>
    </seccion>
    <section class="seccion-dos">

    </section>
    <footer>
        <%- include ( '../partials/footer') %>
    </footer>
</body>
</html>