<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
    <title> <%= title %></title>
</head>
<body>
    <header>
        <%- include( '../partials/header') %>
        </header>
        <main>
            <section class="seccion-uno-small-footer">
                <ul class="small-footer-lista-uno">
               <a class="smfo-single" href="/cambiosydevoluciones">Cambios y devoluciones</a>
               <a class="smfo-single" href="/politicasdeprivacidad">Politicas de privacidad</a>
               <a class="smfo-single" href="/arrepentimientodeactividades">Arrepentimiento de actividades</a>
               <a class="smfo-single" href="/preguntasfrecuentes">Preguntas frecuentes</a>
               <a class="smfo-single" href="/preguntasblog">Preguntas frecuentes Blog</a>
               </ul>

               <ul class="small-footer-lista-dos">
                   <a class="smfo-single" href="/contacto">Contacto</a>
                   <a class="smfo-single" href="/contratacion">Contratacion</a>
                   <a class="smfo-single" href="/terminosycondiciones">Terminos y condiciones</a>
                   <a class="smfo-single" href="/transporte">Transporte</a>
                   <a class="smfo-single" href="/signupmarca">Crear usuario de marcas</a>
                   <a class="smfo-single" href="/useracountmarcas">Acceder a usuario de marcas</a>
               </ul>

            </section>
        </main>
        <footer>
            <%- include( '../partials/footer') %>
            </footer>
</body>
</html>