
<!DOCTYPE html>
<html lang="en">
       
<head>
    <%- include ( '../partials/head' ) %>
    <title> <%= title %></title>
    </head>

<body>

    <header>
    
        <%- include( '../partials/header') %>
    
        </header>

    <main class="main">

        <section class="seccion-uno">
            
        </section>

        <section class="seccion-dos">
            
        </section>

        <section class="seccion-tres">

        </section>
        <section class="seccion-cuatro">
            
        </section>
    </main>

    <footer>
        <%- include( '../partials/footer') %>
        </footer>
</body>

</html>