
<!DOCTYPE html>
<html lang="en">
       
<head>
    <%- include ( '../partials/head' ) %>
    <title> <%= title %></title>
    </head>

<body>
    <header>
    
        <%- include( '../partials/header') %>
    
        </header>

    <main class="main">

        <section class="seccion-uno-arrepentimiento">

            <article class="on-page-arrepentimiento">
            <h4 class="opaa-titular">Arrepentimiento de actividades</h4>
            <p class="opaa-fecha">Fecha del dia</p>
            <div class="opaa-checkbox-arrepentimiento">
            <label for="arrepentimientoActividades">Inicar arrepentimiento de actividades</label>
            <input  type="checkbox" name="arrepentimientoActividades" id="arrepentimientoActividades">
            </div>
        </article>

        </section>

        <section class="seccion-dos-arrepentimiento">
            <article class="opaa-motivos">
                <p class="opaa-motivos-titular">Motivo</p>
                <select class="opaa-motivos-select" name="motivoscancelacion">
                    <option value="ya-compro-otro-producto">Ya compre otro producto</option>
                    <option value="encontro-algo-mejor">Encontré algo mejor</option>
                    <option value="otros">otros</option>
                </select>
                <p class="opaa-motivos-comentario">Comentario</p>
                <textarea class="opaa-motivos-texto" name="arrepentimiento-comentario" id="arrepentimiento-comentario"></textarea>
                <button class="opaa-motivos-texto-button" type="submit">Enviar</button>
            </article>

            <article class="opaa-transacciones">
                <p class="opaa-transacciones-titular">Transacciones realizadas</p>
                <label for="buscar-transaccion">Buscar</label>
                <input class="opaa-input-buscar-transaccion" type="search" name="buscar-transaccion" id="buscar-transaccion" placeholder=" Buscar transaccion">
                <div class="opaa-transacciones-muestra-datos">
                    <div class="opaa-transaccion-ejemplo">
                        <p>Informacion de la transaccion</p>
                    </div>
                </div>
            </article>

            <article class="opaa-terminos-aceptar">
                <div class="opaa-checkbox-hecho">
                <label for="constancia-hecho">Tengo y dejo constancia de que las transcciones seleccionadas seran canceladas.<br>De esta manera acepto y aclaro como canceladas las anteriores</label>
                <input type="checkbox" name="constancia-hecho" id="constancia-hecho">
                </div>
                <div class="opaa-checkbox-cargos">
                <label for="constancia-cargos">De hacerse cargo como responsable de cancelaciones y pagos necesarios para efectuar las cancelaciones</label>
                <input type="checkbox" name="constancia-cargos" id="constancia-cargos">
                </div>
                <div class="opaa-checkbox-condiciones">
                <label for="constancia-condiciones">Aceptar condiciones</label>
                <input type="checkbox" name="constancia-condiciones" id="constancia-condiciones">
            </div>
            <div class="opaa-terminos-y-condiciones">
                <a href="">Ver Terminos y condiciones</a>
            </div>
                <button class="opaa-button-submit" type="submit">Aceptar</button>
            </article>
            
        </section>
    </main>

    <footer>
        <%- include( '../partials/footer') %>
        </footer>
</body>
</html>