
<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ( '../partials/head' ) %>
    <title> <%= title %></title>
    </head>

<body>
    <header>
    
        <%- include( '../partials/header') %>
    
        </header>

    <main class="main">

        <section class="seccion-uno-preguntas">

            <article class="oppf-preguntas-info">

                <h4 class="oppf-titular">Preguntas frecuentes</h4>
                <label for="preguntasfrecuentes"></label>
                <input type="search" class="oppf-realizar-pregunta" id="preguntasfrecuentes" name="preguntasfrecuentes" id="preguntasfrecuentes" placeholder=" Haz tu pregunta">
            </article>
        </section>
        <section class="seccion-dos-preguntas">
            <article class="oppf-respuestas">
                <h4 class="oppf-titular">Respuestas</h4>
                <p class="oppf-respuestas-parrafo"> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quo a totam molestiae odit sequi magni unde. Et accusamus iure obcaecati, possimus dolorum voluptatem, sed explicabo ad tenetur ipsam unde itaque?</p>
            </article>
        </section>

    </main>

    <footer>
        <%- include( '../partials/footer') %>
        </footer>
</body>

</html>