<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ( '../partials/head' ) %>
    <title> <%= title %></title>
    </head>

<body>
    <header>
    
        <%- include( '../partials/header') %>
    
        </header>

    <main class="main">

        <section class="seccion-uno-blog">
            <article class="opbu-article-titular">
                <h4 class="opbu-titular">Preguntas blog</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas et sunt at itaque ipsa ipsam architecto molestias perspiciatis. Perspiciatis adipisci est exercitationem asperiores recusandae odio quo magnam tempora cupiditate nisi.</p>
            </article>
        </section>
        <seccion class="seccion-dos-blog">

              <article class="opbu-pregunta">
            <div class="blog-hacer-pregunta">
                <label for="blog-preguntas"></label>
                <textarea class="blog-textarea" type="" name="blog-preguntas" id="blog-preguntas"
                    placeholder=" Escribe tu pregunta"></textarea>
            </div>

              </article>
            <article class="opbu-respuesta">

            </article>
        </seccion>

    </main>

    <footer>
        <%- include( '../partials/footer') %>
        </footer>
</body>

</html>