<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ( '../partials/head' ) %>
    <title> <%= title %></title>
    </head>

<body>
    <header>
    
        <%- include( '../partials/header') %>
    
        </header>

    <main class="main">

        <section class="seccion-uno-transporte">

            <article class="opt-transporte-info">

                <h4 class="opt-titular">Transporte - Reglamentacion</h4>
                <p class="opt-texto">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quod, et fugit deleniti, unde nihil aperiam quas hic quibusdam recusandae, quo cum alias amet cumque veniam nisi assumenda eligendi maxime ipsa eos debitis. Atque eaque harum totam itaque praesentium deleniti ullam corrupti omnis repellendus commodi! Voluptas possimus similique aspernatur adipisci. Asperiores?</p>
     
            </article>

        </section>

    </main>

    <footer>
        <%- include( '../partials/footer') %>
        </footer>
</body>
</html>